@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background: #f8fafc;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
